* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(125, 17, 134, 0.79);
  color: rgb(2 250 237);
}

header {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

main {
  display: flex;
  gap: 20%;
  justify-content: flex-end;
  align-items: flex-start;
  border: 1px solid;
  margin: 0 4%;
  padding: 0 -2%;
  font-size: 1.5rem;
  max-width: 100%;
  padding: 0 -29px 0 0;
}

.scores {
  display: flex;
  flex-direction: column;
  margin: 1% 13%;
  min-width: 200px;
}

.recentScores {
  display: flex;
  flex-direction: row;
  gap: -1px;
  justify-content: space-between;
  align-items: center;
  margin: 0  62px 9px 0;
  padding: 8px 5px;
  background-color: #784825;
  border-radius: 1rem;
}

.addText {
  font-size: 20px;
}

.btn {
  color: rgb(224 26 32);
  border: none;
  background-color: rgb(67 10 26);
  border-radius: 22%;
  padding: 0.5rem;
  font-size: 0.85rem;
  box-shadow: 0 0.15rem 0.61rem rgb(2 250 237);
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.25rem 0.25rem #0003;
  background-color: #f4a261;
}

.form-data:nth-child(even) {
  background-color: rgb(224, 26, 26);
}

.input {
  padding-top: 2%;
  border-radius: 1rem;
  text-align: center;
}

li {
  list-style: none;
  padding: 10px;
  color: white;
}

#name {
  margin: 15px 0 5px;
}

.fa {
  padding-right: 20px;
}

form input {
  border: 1px solid #2d2d2d;
  background-color: crimson;
  box-shadow: 0 0.5rem 1rem rgb(15 153 10 / 83%);
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-width: 200px;
  font-size: 1rem;
}

#submit {
  width: 92%;
  padding: 4%;
  margin: 5%;
}

input::placeholder {
  color: #264653;
}

#scoreBoard {
  width: 168%;
  box-shadow: 0 0.5rem 1rem #0003;
  overflow: auto;
  height: 70vh;
}

.scoreboard li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #47aba6;
  margin: 2%;
  border-radius: 1rem;
  min-width: 200px;
}

.scoreboard li:hover {
  background-color: rgba(15, 153, 10, 0.753);
}

.headerTitle {
  font-size: 40px;
}

.recentText {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
  }

  main {
    align-items: flex-start;
    font-size: 1.5rem;
    max-width: 80%;
    box-shadow: 0 0.15rem 0.61rem rgb(2 250 237);
    border-radius: 1%;
    margin-bottom: 2%;
    overflow: visible;
    height: 300vh;
  }
}
